<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footerFragment">
    <div class="center">
        <div class="top d-flex justify-content-between">
            <div class="btmlogo">
                <a th:href="@{/}" sec:authorize="isAnonymous()"><img src="/img/ChatEZ_logo_btm.svg" alt="ChatEZ" /><span>ChatEz</span></a>
                <a th:href="@{/my_service}" sec:authorize="isAuthenticated()"><img src="/img/ChatEZ_logo_btm.svg" alt="ChatEZ" /><span>ChatEz</span></a>
            </div>
            <nav>
                <ul class="d-flex justify-content-between">
                    <li><a href="/join">시작하기</a></li>
                    <li sec:authorize="isAnonymous()">
                        <!-- Button trigger modal -->
                        <button type="button" sec:authorize="isAnonymous()"  data-bs-toggle="modal" data-bs-target="#loginModal">
                            로그인
                        </button>

                    </li>
                    <li sec:authorize="isAuthenticated()">
                    <a herf="/logout" >로그아웃</a>
                    </li>
                    <li><a href="/my_service">마이서비스</a></li>
                    <li><a href="/file_manager">파일관리</a></li>
                </ul>
            </nav>
        </div>
        <div class="info">
            <p>주식회사 ChatEZ</p>
            <p>서울기 강남구 강남동 1000-1, 2층</p>
            <p>
          <span>이메일<span>chatez@chatez.com</span></span
          ><span>대표번호<span>1000 - 1000</span></span>
            </p>
            <p>&copy; ChatEZ. All rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>