<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>ChatEz - 새벽배송보다 빠른 대화형 AI생성 서비스</title>
    <link rel="icon" href="img/favicon-32x32.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
  </head>
  <body>
    <!-- header-->
    <header>
      <div class="d-flex justify-content-between center">
        <h1>
          <a href="/"
          ><img src="/img/ChatEZ_logo.svg" alt="ChatEz" /><span>ChatEZ</span></a
          >
        </h1>
        <div><a href="/login" class="btn login_btn">로그인</a></div>
      </div>
    </header>
<!--    <header th:replace="~{header :: headerFragment}"></header>-->
    <!-- 각 페이지의 container내용-->
    <th:block layout:fragment="content"></th:block>
    <!-- footer -->
    <footer  th:replace="~{fragments/footer :: footerFragment}"></footer>
    <th:block layout:fragment="script"></th:block>
  </body>
</html>
