<html layout:decorate="~{ChatEZ_layout}">
    <div layout:fragment="content" class="file_manager_content">
        <div class="chat_list">
            <h2><img th:src="@{img/list_icon.png}" alt="list_icon" class="list_icon">생성 목록</h2>
        </div>
        <div class="file_manager">
            <h3><img th:src="@{img/manager_logo_on.png}" alt="manager_logo" class="manager_logo">파일 관리</h3>
            <div class="file_list">
                <table>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>이름</th>
                        <th>크기</th>
                        <th>1</th>
                        <th>업로드일</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><img th:src="@{img/txt-file.png}" alt="txt-file" class="txt-file"><span>ChatEZ Assistant</span></td>
                        <td>8GB</td>
                        <td>1</td>
                        <td>2023-10-03</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</html>