<!DOCTYPE html>
<html lang="ko" layout:decorate = "~{fragments/index_layout}">
<head>
    <title>회원 가입 완료 -ChatEZ</title>
</head>
<body>
    <div class="welcome_container" layout:fragment="content">
        <p>회원 가입이 완료되었습니다.<br>
            ChatEZ로 대화형 AI를 손쉽게 생성해보세요 .</p>
            <div class="welcome_background center">
            <div class="welcome"></div>
            </div>
            <button class="custom_btn py-3" id="login"  data-bs-toggle="modal" data-bs-target="#loginModal">로그인</button>
    </div>
</body>
</html>